<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>

    <!--  <add name="constring" connectionString="Data Source=PRATEEK-PC\SQLSERVER1;Initial Catalog=Vedmurti; Persist Security Info=False; Integrated Security=True; User Id=sa; Password=prateek;" providerName="System.Data.SqlClient" />-->
    <add name="constring" connectionString="data source=192.168.2.20\EXPRESS2012;Initial Catalog=Vedmurti;Persist Security Info=True;User ID=sa;Password=A$squeELSurVer2017" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="20"></sessionState>
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <appSettings>
   
    <add key="merchantId" value="xyzSta22764777243173" />
    <add key="merchantKey" value="rPqKxA#qA0cfAjQ2" />
    <add key="INDUSTRY_TYPE_ID" value="Retail" />
    <add key="WEBSITE" value="WEB_STAGING" />
    <add key="paytmURL" value="https://pguat.paytm.com/oltp-web/processTransaction?orderid=" />
    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/in/cgi-bin/webscr" />

    <add key="FailedURL" value="http://localhost:64943/ProceedToPayment.aspx" />

    <add key="SuccessURL" value="http://localhost:64943/ProceedToPayment.aspx" />

    <add key="SERVERURLROUTE" value="http://localhost:60895/" />
    <add key="PrivateKey" value="6Lfs0RIUAAAAAKSWCvPlARW7jWce_xMbaMD0iPRa" />
    <add key="sitekey" value="6Lfs0RIUAAAAAAvbFvr4Bh89EtrIEz-bilvnXGmQ" />
    <add key="SiteUrl" value="http://localhost:64943/" />
    <!--<add key="MERCHANT_KEY" value="5ATr9BM7"/>
    <add key="SALT" value="H9JyLFBfDA"/>-->
  <add key="MERCHANT_KEY" value="gtKFFx" />
  <add key="SALT" value="eCwWELxi" />
    <add key="PAYU_BASE_URL" value="https://test.payu.in" />
    <add key="action" value="" /> 
   
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <add key="EmailSubject" value="Order Confirmation" />
    
    <add key="ContactEmail" value="rinku.patel2091@gmail.com" />
    <add key="WebPath" value="http://vedmurti.com/" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
                <clear />
                <add value="Default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
     
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
       <smtp from="rinku.patel2091@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="rinku.patel2091@gmail.com" password="rinku@123" enableSsl="true" />
      </smtp>
      <!--<smtp from="beena2091@gmail.com">
        <network host="smtp.gmail.com"
         port="587"
         userName="beena2091@gmail.com"
         password="rinku@2091b"
         enableSsl="true"/>
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>